/* titulo */
.container2 h2{
  margin-bottom:40px;
  color:#000000;
  color:#333;
}

/* buscador */
.search-box{
  margin-bottom:15px;
}

.search-box input{
  padding:8px 12px;
  border-radius:6px;
  border:1px solid #ccc;
  outline:none;
}

/* contenedor tabla */
.containerTabla{
 width:100%;
 margin:40px auto;
 padding:200px;
 background:rgb(192, 182, 182);
 padding:20px;
 background:white;
 border-radius:8px;
 box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* tabla */
.table{
  width:100%;
  border-collapse:collapse;
  font-size:16px;
}

/* encabezado */
.table thead{
  background:#a51a1a;
  color:rgb(0, 0, 0);
}

/* celdas */
.table th,
.table td{
  padding:12px;
  border:1px solid #0b0505;
  text-align:center;
}

/* filas alternadas */
.table tbody tr:nth-child(odd){
  background:#cdbfbf;
}

.table tbody tr:nth-child(even){
  background:#a5bfc4;
}

/* hover */
.table tbody tr:hover{
  background:#6ac0f6;
}
