:root {
  --bg-gradient: linear-gradient(180deg, #f0f7ff 0%, #d9eeff 100%);
  --osnet-blue: #007bff;
  --header-dark: #343a60;
  --text-white: #ffffff;
  --text-dark: #333333;
  --filter-bg: #e1f2ff;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #04deffe4 0%, #4c46ea 100%);
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}


.dashboard-container {
  padding: 20px;
  background: white;
  min-height: 100vh;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
}

.kpi-row, .bottom-charts, .filter-row {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.kpi-card {
  flex: 1;
  background: var(--osnet-blue);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.kpi-card h1 { font-size: 54px; margin: 0; color: white; }

.filter-box {
  flex: 1;
  background: var(--filter-bg);
  border: 1px solid #bce0ff;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-section {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  border: 1px solid #e0e0e0;
}

.chart-header {
  background: var(--header-dark);
  color: white;
  padding: 12px;
  text-align: center;
}

.half-width { width: 50%; }

/* Estilos de Login */
.container-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.input-osnet {
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.1);
}

.password-wrapper { position: relative; display: flex; align-items: center; }
.eye-icon { position: absolute; right: 10px; cursor: pointer; color: #333; }

.btn-primary-osnet {
  background-color: rgb(31, 31, 40);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-primary-osnet:hover { background-color: #4488ee; }

.limpiar {
  background-color: white;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.logo-osnet-bottom {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  filter: brightness(0) invert(1);
}


@media (max-width: 768px) {
  .kpi-row, .bottom-charts, .filter-row, .auth-buttons {
    flex-direction: column; 
    gap: 15px;
  }

  .half-width {
    width: 100% !important; 
  }

  .dashboard-container {
    padding: 10px;
  }

  
  .input-osnet, .btn-primary-osnet, .limpiar {
    width: 90%;
    max-width: 300px;
  }

  .kpi-card h1 {
    font-size: 38px; 
  }

  
  .logo-osnet-bottom {
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 20px;
  }
}